/*Fly Tying CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300;400&display=swap');
:root {
    --chinese_red: rgba(230,0,0,1);
    --caddis_green: rgba(25,225,80,1) ;
    --chartreuse: rgba(200,255,0,1) ;
    --hot_orange: rgba(255,130,5,1);
    --sunburst_yellow: rgba(255,235,0,1);
    --lt_cahill: rgba(250,250,165,1) ;
    --silver_doctor: rgba(0,255,255,1);
    --royal_blue: rgba(10,90,220,1);
    --white:rgba(255,255,255,1);
    --lt_grey:rgba(169,184,195,0.1);
    --dk_grey:#32373c;
    --classic_blue:rgba(15,76,129,1);
    --baby_blue:rgba(181, 189, 211,1);
    --powder_blue:rgba(150,179,210,1);
}

.body{
    margin: 0px;
    max-width: 100vw;
}
.vlog{
    background-color: var(--powder_blue);
    color:#333;
    font-family:'roboto', sans-serif;
    text-emphasis: none;
    font-weight: normal;
    margin: 0px;
    min-width: 480px;
    max-width: 100vw;
    }

.menu{
        max-width: 100vw;
        margin: 0px;
    }
.header{
        display: grid;
        max-width: 100vw;
        margin: 0px;
    }
.posts{
        display: inline-grid;
        max-width: 100vw;
    }
.adverts{
        max-width: 100vw;
    }
.footer{
        max-width: 100vw;
    }
.navbar {
    overflow: hidden;
    background-color: var(--powder_blue); 
    box-sizing: border-box;
    display: block;
    text-align: center;
    width:auto;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.subnav {
  float: left;
  overflow: hidden;
}
.subnav .subnavbutton {
  font-size: 16px;  
  border: none;
  outline: none;
  color:white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .subnav:hover .subnavutton {
  background-color: var(--powder_blue);
}
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: var(--powder_blue);
  width:auto;
  max-width: 960px; 
  z-index: 1;

}
.subnav-content a {
  float: left;
  color: var(--hot_orange);
  text-decoration: none;
}
.subnav-content a:hover {
  background-color: var(--classic_blue);
  color: var(--sunburst_yellow);
}
.subnav:hover .subnav-content {
  display: block;
}
/* front tiles ...more hover sunburst code */       
a{
  color:var(--hot_orange);
  background-color: transparent;
  font-size: 1rem;
  text-decoration: none;
 }

a:hover {
  color: var(--sunburst_yellow);
  background-color: transparent;
  text-decoration: none;

    }

h1  {
    font-size:3rem;
    text-decoration: none;
    }
h2  {
    font-size: 2rem;
    color: white;
    text-align: left;
    padding: 8px;
}
h3{
    text-align: center;
}

.headline{
    color:var(--white);
    font-family:'Robotoslab', sans-serif;
    font-weight: 400;
    font-size:3vw;
    text-align: left;
    /*margin-left: 30pw;*/
    background-color: var(--classic_blue);
}
.headlinetwo{
    color:var(--white);
    font-family:'Robotoslab', sans-serif;
    font-weight: 400;
    font-size:3vw;
    text-align: center;
    background-color: var(--classic_blue);
}
.headline_low{
    color:var(--white);
    font-family:'Robotoslab', sans-serif;
    font-weight: 400;
    font-size:3vw;
    text-align:center;
    background-color: var(--classic_blue);
}

.head_i1{grid-area:T_Top;}
.head_i2{grid-area:L_Marg_Rect;}
.head_i3{grid-area:Rectangle;}
.head_i4{grid-area:R_Marg_Rect;}
.head_i5{grid-area:T_Low;}

.header{
    /* grid design developed to control header areas for mobile devices to render header in classic blue background across full screen width. Else, Right rectangle margin is omitted */
    display:grid;
    width: 100vw; /* grow / shrink with video tiles*/
    grid-template-columns: 25vw 50vw 25vw ;/*left and right margins 25vw, center reactangle design with headlines 50vw  */
    grid-template-rows: 10vw 30vw 20vw ;/*10vw on the top row. 20vw bottom row, 30vw for middle row to dislay rectangle and headlines */
    grid-template-areas: 
    'T_Top T_Top T_Top '
    'L_Marg_Rect Rectangle R_Marg_Rect'
    'T_Low T_Low T_Low';
    text-align: center;
    min-width: 480px; /* width of video image tile */
    background-color: var(--classic_blue);
}

.head_i1{
    display: grid;/*top row defines padding above the white rectangle */
    box-sizing: border-box;
    height:2vw;
    width: 100vw;
}
.head_i2{
    display: grid;/*left middle row margin  25vw wide (column), 30vw deep (row)*/
    box-sizing: border-box;
}
.head_i3 {
    display: grid; /*middle row margin 25vw */
    box-sizing: border-box; /* rectangle relative dimensions*/
    width: 50vw;
    height: 31vw;/*white rectangle maintain width to hight golden ratio */
    border: 2vw solid white; /*white rectangle header feature on landing page */
    text-align: center;
    text-size-adjust: auto; /* text size grows with window size*/
    font-size: 3vw;
    padding: 2vw;
    border-radius: 7px;
}
.head_i4{
    display: grid;
    box-sizing: border-box;
    /*middle row right side margin 25vw wide (column). required for mobile else header stops after right side of rectangle (head_i3)*/

}
.head_i5{
    display: grid; /* area below white rectangle for lower species titles */
    text-align: center ;
    box-sizing: border-box;
}
.posts{
        max-width: 100vw; /*tile width of browser with 500px wide posts -inlineblock  */
        grid-template-columns: 1/-1;
        grid-template-rows: 3(autofit, minmax(560,1fr));
        grid-template-columns: repeat(auto-fit, minmax(480,1fr));
        box-sizing: border-box;
        padding: 5px;
        grid-gap: 5px;
        width: 480px;
        max-width: 480px;
        height: auto;
        max-height:560px; /* sum of pic, text, tags */
        display: inline-grid;
        background-color: var(--powder_blue);
}

    [class^="tile"] {
    grid-column: 1/-1;
    grid-row:1; /* image displayed on row 1, above text and tags*/
    box-sizing: border-box;
    padding: 8px;
    max-width: 480px;
    height:270px;
    max-height: 270;

    }
        [class^="text_"]{
        grid-column: 1/-1;
        grid-row:2;
        background-color: var(--baby_blue);
        color:var(--dk_grey);
        text-align: left;
        padding: 8px;
        }
        [class^="tags_"]{
        grid-column: 1/-1;
        grid-row: 3;
        color:var(--dk_grey);
        font-size: 22px;
        text-align: left;
        }

.tile_1{
    background: url(./images/adams_irresistible_480.jpg);
    }
.tile_2{
    background: url(./images/Olive_CDC_Dun_480.jpg);
    }
.tile_3{
    background: url(./images/peeping_caddis_480.jpg);
    }
.tile_4{
    background: url(./images/CDC_olive_emerger_480.jpg);
    }
.tile_5{
    background: url(./images/wally_spinner_480.jpg);
    }
.tile_6{
    background: url(./images/caddis_pupa_480.jpg);
    }
.tile_7{
    background: url(./images/proppen_480.jpg);
}
.tile_8{
    background: url(./images/silver_doctor_480.jpg);
}
.tile_9{
    background: url(./images/sculpin_480.jpg);
}
.tile_10{
    background: url(./images/green_machine_480.jpg);
    margin-right: -12px;
}
.tile_11{
    background: url(./images/royal_spey_480.jpg);
}
.tile_12{
    background: url(./images/allys_shrimp_480.jpg);
}

.about{
    background-color: transparent;
    box-sizing: border-box;
    display: block;
    width:480px; 
    max-width: 480px;
    height: auto;
    text-align: left;
    text-emphasis: none;
    padding: 8px;
}
.Barry{
    background-color: transparent;
    box-sizing: border-box;
    display: block;
    width:480px; 
    max-width: 480px;
    height: auto;
    text-align: left;
    text-emphasis: none;
    padding: 8px;
}
.Davie{
    background-color: transparent;
    box-sizing: border-box;
    display: block;
    width:480px; 
    max-width: 480px;
    height: auto;
    padding: 8px;
    /*border: 8px;*/
    margin: 0px;
    text-align: left;
    text-emphasis: none;   
}

[class^="adv_"]{
    box-sizing: border-box;
    display: inline-block;
    width: 200px;
    max-width: 480px;
    height: 200px;
    max-height:270px; 
    text-emphasis: none;
}
.footer{
    font-size: 0.7em;
    text-decoration: none;
}
.error{
    color: var(--chinese_red);
}




